<tr hx-trigger="cancel" hx-get="/categories/{{ category.id }}">
  <td>{{ category.name }}</td>
  <td class="text-right">
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path></svg>
      </label>
      <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
        <li>
          <button hx-get="/categories/{{ category.id }}/edit"
                  hx-trigger="edit"
                  hx-target="closest tr" 
                  hx-swap="outerHTML"
                  _="on click
                      send cancel to .editing
                      trigger edit
                      set #category-search@disabled to 'disabled'">
            Edit
          </button>
        </li>
        <li>
          <button hx-get="/categories/{{ category.id }}/delete"
                  hx-target="#delete-category-modal-action"
                  hx-swap="outerHTML"
                  class="btn-outline btn-error"
                  hx-on::after-request="delete_category_modal.showModal()">
            Delete
          </button>
        </li>
      </ul>
    </div>
  </td>
</tr>