<!DOCTYPE html>
<html lang="en" data-theme="cmyk">
  <head>
    <title>{% block title %}{{ title }} - My Site{% endblock %}</title>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.2/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      // use this config to render table correctly
      htmx.config.useTemplateFragments = true;
    </script>
    {% block head %}{% endblock %}
  </head>
  <body class="w-full">
    <main id="content" class="w-full">
      <div id="alert-container"></div>
      {% block content %}<p>Placeholder content</p>{% endblock %}
    </main>
    {% block dialogs %}{% endblock %}
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.1/dist/cdn.min.js"></script>
  </body>
</html>