<!DOCTYPE html>
<html lang="en" data-theme="cmyk">
  <head>
    <title>{% block title %}{{ title }} - My Site{% endblock %}</title>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.2/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <style>
      /* sweetalert styles */
      /* overrides .swal2-styled.swal2-confirm */
      .sweetalert-confirmButton {
          border-radius: var(--rounded-btn, 0.5rem) !important;
          color: hsl(var(--pc) / var(--tw-text-opacity)) !important;
          background-color: hsl(var(--p) / var(--tw-bg-opacity)) !important;
          padding: auto 1rem !important;
      }
    </style>
    <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      // use this config to render table correctly
      htmx.config.useTemplateFragments = true;
    </script>
    {% block head %}{% endblock %}
  </head>
  <body class="min-h-screen w-full">
    <main id="content" class="min-h-screen w-full">
      <!-- {% include "toasts/toast-container.html" %} -->
      {% block content %}<p>Placeholder content</p>{% endblock %}
    </main>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.1/dist/cdn.min.js"></script>
  </body>
</html>